Repository artsy/orbs: changes, and which lefthook commands are due for each by the changed paths.
All: validate-orbs, validate-circle-config, validate-shell-scripts

lefthook.yml:

# For more information on configuring lefthook, see the guide:
# https://github.com/Arkweid/lefthook/blob/master/docs/full_guide.md

pre-commit:
  parallel: true
  commands:
    validate-orbs:
      glob: "src/**/*.yml"
      run: NAMESPACE=artsy scripts/validate_orb.sh {staged_files}
    validate-circle-config:
      glob: ".circleci/config.yml"
      run: circleci config validate
    validate-shell-scripts:
      glob: "*.sh"
      run: shellcheck {staged_files}

lint-all-scripts:
  commands:
    lint-scripts:
      glob: "*.sh"
      run: shellcheck {all_files}

fix-scripts:
  commands:
    fix-scripts:
      glob: "*.sh"
      run: shellcheck -f diff {all_files} | git apply

Bump auto version
  src/auto/auto.yml
Due: validate-orbs

Fix super bizarro validation issue
  scripts/validate_orb.sh
Due: validate-shell-scripts

Remove stray echo
  scripts/validate_orb.sh
Due: validate-shell-scripts

Really fix validate?
  scripts/validate_orb.sh
Due: validate-shell-scripts

Ignore annoying errors
  .shellcheckrc
  scripts/publish_orb.sh
  scripts/validate_orb.sh
Due: validate-shell-scripts

Fix another token error..
  scripts/publish_orb.sh
Due: validate-shell-scripts

Remove unnecessary disable
  scripts/validate_orb.sh
Due: validate-shell-scripts

Fix validate script for the millionth time
  scripts/validate_orb.sh
Due: validate-shell-scripts

Ensure this change is completely a no-op
  src/yarn/yarn.yml
Due: validate-orbs

Fix env check in orb-tools
  src/orb-tools/orb-tools.yml
Due: validate-orbs

Update yarn orb to use corrected utils
  src/yarn/yarn.yml
Due: validate-orbs

use dev orb to test against hokusai orb 0.7.3 pre-release
  src/remote-docker/remote-docker.yml
Due: validate-orbs

pin remote-docker orb to artsy/hokusai@0.7.3
  src/remote-docker/remote-docker.yml
Due: validate-orbs

update remote docker orb to include hokusai orb v0.7.3 / hokusai version 0.5.9
  src/remote-docker/remote-docker.yml
Due: validate-orbs

Add shortcut for not running job on forks
  src/orb-tools/orb-tools.yml
Due: validate-orbs

Use orb-utils shortcut
  src/auto/auto.yml
Due: validate-orbs

Update auto messaging
  src/auto/auto.yml
Due: validate-orbs

Ensure we don't try to notify on PRs or forks
  src/yarn/yarn.yml
Due: validate-orbs

Add context to avoid rate limits
  .circleci/config.yml
Due: validate-circle-config

Only deploy canary if canary label present
  src/auto/auto.yml
Due: validate-orbs

Remove canaries from orbs
  src/auto/auto.yml
  src/yarn/yarn.yml
Due: validate-orbs

add an executor parameter to switch between versioned and beta hokusai build
  src/hokusai/hokusai.yml
Due: validate-orbs

bump hokusai orb version
  src/hokusai/hokusai.yml
Due: validate-orbs

use e for executor parameter name as in circleci docs
  src/hokusai/hokusai.yml
Due: validate-orbs

Revert "use e for executor parameter name as in circleci docs"
  src/hokusai/hokusai.yml
Due: validate-orbs

reference executor in hokusai orb as parameter
  src/hokusai/hokusai.yml
Due: validate-orbs

also parameterize remote-docker orb build job
  src/remote-docker/remote-docker.yml
Due: validate-orbs

Revert "reference executor in hokusai orb as parameter"
  src/hokusai/hokusai.yml
Due: validate-orbs

switch from head to beta hokusai naming convention
  src/hokusai/hokusai.yml
Due: validate-orbs

remote-docker orb v0.1.4 depends on hokusai orb v0.7.4
  src/remote-docker/remote-docker.yml
Due: validate-orbs

bump hokusai v0.5.10
  src/hokusai/hokusai.yml
Due: validate-orbs

decouple hokusai and remore-docker orbs
  src/remote-docker/remote-docker.yml
Due: validate-orbs

add test job to artsy-remote-docker
  src/remote-docker/remote-docker.yml
Due: validate-orbs

update node version in auto orb
  src/auto/auto.yml
Due: validate-orbs

bump orb version
  src/auto/auto.yml
Due: validate-orbs

update node version in auto
  src/auto/auto.yml
Due: validate-orbs

update orbs to hokusai version 0.5.11
  src/hokusai/hokusai.yml
  src/remote-docker/remote-docker.yml
Due: validate-orbs

bump remote-docker orb to 0.1.5
  src/remote-docker/remote-docker.yml
Due: validate-orbs

bump hokusai orb to 0.7.5
  src/hokusai/hokusai.yml
Due: validate-orbs

use BUILD_TARGET var
  src/remote-docker/remote-docker.yml
Due: validate-orbs
